* {
    margin: 0;
    padding: 0;
}
.section {
    overflow: hidden;
    position: relative;
}

/*第一屏*/
.first {
    padding-top: 80px;
}
.first .logo {
    width: 251px;
    height: 186px;
    margin: 0 auto;
    background: url(../images/logo.png) center no-repeat;
}
.first .text {
    text-align: center;
    margin: 85px 0 45px;
    line-height: 1;
}
.first img {
    margin: 0 24px;
    /*opacity: 0;*/
}
.first .info {
    height: 49px;
    background: url(../images/info_1.png) center center no-repeat;
}
    /*第一屏动画*/
    .first.current img {
        transition: all 1s;
         margin: 0 8px;
    }

/*第二屏*/
.second {
    padding: 0 100px;
}
.second > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second .info {
    width: 635px;
    height: 309px;
    background-image: url(../images/info_2.png);
}
.second .shield {
    width: 428px;
    height: 498px;
}
.second img {
    display: block;
    float: left;
}
    /*第二屏动画*/
    .second img:nth-child(1){
        transform: translate(35px, 78px) rotate(45deg);
    }
    .second img:nth-child(2){
        transform: translate(135px, 282px) rotate(15deg);
    }
    .second img:nth-child(3){
        transform: translate(187px, 62px) rotate(15deg);
    }
    .second img:nth-child(4) {
        transform: translate(10px, 162px) rotate(30deg);
    }

    .second img:nth-child(5) {
        transform: translate(465px, 522px) rotate(30deg);
    }

    .second img:nth-child(6) {
        transform: translate(480px, 62px) rotate(90deg);
    }

    .second img:nth-child(7) {
        transform: translate(180px, -305px) rotate(80deg);
    }

    .second img:nth-child(8) {
        transform: translate(300px, -22px) rotate(70deg);
    }

    .second img:nth-child(9) {
        transform: translate(280px, -322px) rotate(60deg);
    }
    .second.current img {
        transition: all 1s;
        transform: translate(0px, 0px) rotate(0deg);
    }

/*第三屏*/
.third {
    padding: 0 60px;
}
.third > div {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.third .info {
    width: 631px;
    height: 278px;
    background: url(../images/info_3.png);
}
.third .circle {
    width: 453px;
    height: 449px;
    background: url(../images/circle.png);
    animation: rot 4s linear infinite;
}
.third .rocket {
    width: 203px;
    height: 204px;
    background: url(../images/rocket.png);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(500px, 210px);
}
    /*第三屏动画*/
    @keyframes rot {
        0% {
            transform:rotate(0deg);
        }
        100% {
            transform:rotate(360deg);
        }
    }
    .third.current .rocket {
        transition: all 1s;
        transform: translate(1100px, -260px);
    }

/*第四屏*/
.forth {
    padding: 0 85px;
}
.forth > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.forth .search {
    width: 529px;
    height: 320px;
    position: relative;
    transform: translateX(-100%);
}
.forth .input {
    width: 529px;
    height: 66px;
    background: url(../images/search.png);
}
.forth .key {
    /*width: 99px;*/
    height: 22px;
    width: 0px;
    background: url(../images/key.png) left center;
    position: absolute;
    left: 20px;
    top: 24px;
}
.forth .wrap {
    width: 529px;
    height: 372px;
    transform: translateY(-13px);
    overflow: hidden;
}
.forth .result {
    width: 100%;
    height: 100%;
    background: url(../images/result.png) no-repeat;
    transform: translateY(-100%);
}
.forth .info {
    width: 612px;
    height: 299px;
    background: url(../images/info_4.png);
}
    /*第四屏动画*/
    .forth.current .search {
        transition: all 1s;
        transform: translateX(0px);
    }
    .forth.current .key {
        transition: all 2s steps(5) 1s;
        width: 99px;
    }
    .forth.current .result {
        transition: all 1s 3.2s;
        transform: translateY(0px);
    }
/*第五屏*/
.fifth > div {
    display: flex;
    flex-direction: column;
}
.fifth .info {
    height: 135px;
    margin: 30px 0;
    background: url(../images/info_5.png) center center no-repeat;
}
.fifth .browser {
    flex: 1;
    width: 1004px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.15);
    position: relative;
}
.fifth .toolbar {
    height: 80px;
    background: url(../images/toolbar.png) left bottom no-repeat;
    position: relative;
    opacity: 0;
    /*border: 1px solid #000;*/
}
.fifth .box {
    /*width: 920px;*/
    width: 0;
    height: 27px;
    position: absolute;
    left: 70px;
    top: 32px;
    overflow: hidden;
}
.fifth .box span {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    box-sizing: border-box;
}
.leftline, .topline, .rightline, .bottomline {
    border-color: rgba(255, 255, 255, 0.5);
    position: absolute;
}
.leftline {
    left: 0;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    transform: translateY(-100%);
    opacity: 0;
}
.topline {
    top: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transform: translateX(-100%);
    opacity: 0;
}
.rightline {
    right: 0;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    transform: translateY(-100%);
    opacity: 0;
}
.bottomline {
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.fifth .extra {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 394px;
    height: 29px;
    background: url(../images/extra.png);
    opacity: 0;
}
.fifth .line {
    width: 100%;
    position: absolute;
    bottom: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
    /*第五屏动画*/
    .fifth.current .leftline,
    .fifth.current .rightline {
        transition: all 1s;
        transform: translateY(0px);
        opacity: 1;
    }
    .fifth.current .topline {
        transition: all 1s;
        transform: translateX(0px);
        opacity: 1;
    }
    .fifth.current .box {
        transition: all 1s 1.2s;
        width: 920px;
    }
    .fifth.current .toolbar,
    .fifth.current .extra {
        transition: all 1s 1.7s;
        opacity: 1;
    }